
.header{
  height: 100px;
}

.header a{
  font-size: 50px;
  text-decoration: none;
}

.category > div, .element > div{
  padding-right: 40px;
}

tbody {
  display: block;
  height: 900px;
  overflow-y: scroll;
}

thead {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}
